/* ======================== All Pages ========================= */
*{
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.heading {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    float: left;

}

.name {
    padding: 20px;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40%;

}

.links {
    padding: 20px;
    float: right;
    width: 200px;
}

.middle {
    padding: 20px 15%;
    background-color: #dddddd;
}

.middletitle {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
footer {
    color: white;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}

/*=============== Index Page ================ */
.profilepic {
    float: left;
    margin-right: 15px;
}



/* ============== Contact Page ============== */
.middletext {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    background-color: #ffffff;
}


/* ============= Portfolio Page =============== */
.pictures {

}

